<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet/stylesheet.css">
    <script src="/scripts/jquery-3.7.1.js"></script>
    <script src="/scripts/main.js"></script>
</head>
<body>

    <header>
        <section id="menu" class="header-container">
            <a href="index.html" class="logo">
                <img src="/assets/logo.svg" title="" alt="">
            </a>
            <a href="/templates/novelty.html" class="header-links active">Объявления</a>
            <a href="/templates/method.html" class="header-links">Методический кабинет</a>
            <a href="/templates/teachers.html" class="header-links">Преподаватели</a>
            <a href="/templates/student.html" class="header-links">Студенческая аудитория</a>
            <a href="/templates/everything.html" class="header-links">Разное</a>
        </section>

    </header>

    
    
    <section class="main novelty">

        <div class="novelty-grid">

            <div class="novelty-block">
                <h3 class="novelty-title">В университете проходит олимпиада, посвященная дню информационных технологий</h3>
                <p class="novelty-date">13.02.2024</p>
                <div class="novelty-wrapper">
                    <div class="novelty-image">
                        <img src="/assets/novelty/itdat.png" alt="День ИТ" title="День ИТ">
                    </div>
                    <div class="novelty-content">
                        <!-- Тут снова вставка HTML-контент -->
                        <p>День программиста - праздник РФ, отмечаемый в 256-й день года. Число 256
                            выбрано неслучайно. Оно выбрано потому, что это количество разных значений,
                            которое можно выразить с помощью восьмиразрядного байта.
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="novelty-block">
                <h3 class="novelty-title">В университете проходит олимпиада, посвященная дню информационных технологий</h3>
                <p class="novelty-date">13.02.2024</p>
                <div class="novelty-wrapper">
                    <div class="novelty-image">
                        <img src="/assets/novelty/itdat.png" alt="День ИТ" title="День ИТ">
                    </div>
                    <div class="novelty-content">
                        <!-- Тут снова вставка HTML-контент -->
                        <p>День программиста - праздник РФ, отмечаемый в 256-й день года. Число 256
                            выбрано неслучайно. Оно выбрано потому, что это количество разных значений,
                            которое можно выразить с помощью восьмиразрядного байта.
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="novelty-block">
                <h3 class="novelty-title">В университете проходит олимпиада, посвященная дню информационных технологий</h3>
                <p class="novelty-date">13.02.2024</p>
                <div class="novelty-wrapper">
                    <div class="novelty-image">
                        <img src="/assets/novelty/itdat.png" alt="День ИТ" title="День ИТ">
                    </div>
                    <div class="novelty-content">
                        <!-- Тут снова вставка HTML-контент -->
                        <p>День программиста - праздник РФ, отмечаемый в 256-й день года. Число 256
                            выбрано неслучайно. Оно выбрано потому, что это количество разных значений,
                            которое можно выразить с помощью восьмиразрядного байта.
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="novelty-block">
                <h3 class="novelty-title">В университете проходит олимпиада, посвященная дню информационных технологий</h3>
                <p class="novelty-date">13.02.2024</p>
                <div class="novelty-wrapper">
                    <div class="novelty-image">
                        <img src="/assets/novelty/itdat.png" alt="День ИТ" title="День ИТ">
                    </div>
                    <div class="novelty-content">
                        <!-- Тут снова вставка HTML-контент -->
                        <p>День программиста - праздник РФ, отмечаемый в 256-й день года. Число 256
                            выбрано неслучайно. Оно выбрано потому, что это количество разных значений,
                            которое можно выразить с помощью восьмиразрядного байта.
                        </p>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </section>
        
    <footer>
        <section class="footer-info">
            <div class="footer-info-block">
                <div class="title">
                    Адрес: 
                </div>
                <div class="info">
                    <p>Россия, г. Белгород, ул. Костюкова, 46;</p>
                    <p>почтовый индекс: 308012;</p>
                    <p>кабинет 418 ГК</p>
                    <p>тел.:30-99-01, внутр.:1-4-91</p>
                    <p>e-mail: kint@intbel.ru;</p>
                    <p>web-master: lep@intbel.ru</p>
                </div>
            </div>
            <div class="footer-info-block">
                <div class="title">
                    Заведующий кафедрой: 
                </div>
                <div class="info">
                    <p>Старченко Денис Николаевич;</p>
                    <p>каб. 512а главного корпуса;</p>
                    <p>тел.: (4722) 30-99-30; (4722) 30-99-01;</p>
                    <p>e-mail: starchenko.dn@bstu.ru;</p>
                    <p>e-mail: kint@intbel.ru;</p>
                    <p>telegram: @DenisNSt</p>
                </div>
            </div>
            <div class="footer-photo">
                <img src="/assets/DNS.png">
            </div>
        </section>
        <div class="footer-social-block">
            <a href="" class="social-net">
                <img src="/assets/telegram.png">
            </a>
            <a href="" class="social-net">
                <img src="/assets/vk.png">
            </a>
            <a href="" class="social-net">
                <img src="/assets/youtube.png">
            </a>
        </div>
        <div class="footer-bottom-line">
            <div class="bottom-line-child"></div>
            <div class="bottom-line-child">2024 BSTU. Все права защищены</div>
            <div class="bottom-line-child"><img class="bstu-logo"></div>
        </div>
    </footer>
</body>
</html>
<script>
    
</script>
